@import './var.scss';

/* 全局样式 */
#app,
.layout-wrapper {
  height: 100%;
  overflow: hidden;
}

.g-layout-header-wrapper {
  background-color: $--color-primary;
  line-height: 60px;
  color: $--color-white;
}

.g-layout-aside-wrapper {
  background-color: $--color-white;
  max-height: 100%;
  overflow-y: auto;
}

.g-layout-main-wrapper {
  background-color: $--color-white;
  max-height: 100%;
  overflow-y: auto;
}